<!-- PROFILE PAGE -->
<!-- Shows information about the user. -->

{% extends 'base.html' %}
{% load static %}

{% block title%}
    Profile
{% endblock %}

{% block styles %}
    <link rel = "stylesheet" href = "{% static 'css/styles_profile.css' %}">
{% endblock %}

{% block header %}Profile{% endblock %}

{% block content %}

    <img id = "profile_photo" 
         src = {% static 'images/profile_picture_default.jpg' %}>

    <ul id = "profile_info">
        <li>
            <b>Nickname:</b>
            Lorem
        </li>
        <li>
            <b>Bio:</b>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
    </ul>

    

{% endblock %}