<!-- HOME PAGE -->
<!-- Asks for the user's name, then displays it.-->
<!-- Remembers user's name through sessionStorage.-->

{% extends 'base.html' %}
{% load static %}

{% block title%}Your Bujo{% endblock %}

{% block styles %}
    <link rel = "stylesheet" href = "{% static 'css/styles_home.css' %}">
{% endblock %}

{% block header %}Your Bullet Journal{% endblock %}

{% block content %}
    <!-- If Django render contains name variable, store it in sessionStorage-->
    {% if name %}
        <script>sessionStorage.setItem("name", "{{name}}");</script>
    {% endif %}

    <!-- Greets user if name variable exists. if not, this is hidden-->
    <p id = "greeting" class = "large_header">
        Hello, <script>document.write(sessionStorage.getItem("name"));</script>!
        Today is going to be a great day!
    </p>

    <!-- Asks user to give name if it hasn't been given. if not, this is hidden -->
    <div id = "ask_name">
        <p class = "large_header">Hello! What is your name?</p>
        <form action = "" method = "post">
            {% csrf_token %}
            {{ form }}
            <input type = "submit" value = "Submit"/>
        </form>
    </div>

{% endblock %}

{% block scripts %}

//If sessionStorage contains name variable, keeps greeting and hides div ask_name.
//If it doesn't, keeps ask_name and hides greeting.
window.onload = function(){
    if (sessionStorage.getItem("name") === null){
        document.getElementById("greeting").innerHTML = '';
    }else{
        document.getElementById("ask_name").innerHTML = '';
    } 
}
    
{% endblock %}
