<!-- WEEK PAGE -->
<!-- Displays all the tasks, notes, events for current week. -->

{% extends 'base.html' %}
{% load static %}

{% block title%}
    This Week
{% endblock %}

{% block styles %}
    <link rel = "stylesheet" href = "{% static 'css/styles_week.css' %}">
{% endblock %}

{% block header %}This Week {% endblock %}

{% block content %}
    <p id = "dates" class="sub_header">{{week_start_date}} - {{week_end_date}}</p>
    <ul id = "events">
        <li><b>*</b> workout</li>
        <li><b>*</b> buy coffee and milk</li>
        <li><b>*</b> laundry</li>
        <li><b>O</b> 3, 2pm PAASCU meeting</li>
        <li><b>-</b> 30g of Coffee is too strong</li>
        <li><b>*</b> review ethics</li>
    </ul>
{% endblock %}