<!-- KEY PAGE -->
<!-- Explains the meaning of the different symbols in the bullet journal. -->

{% extends 'base.html' %}
{% load static %}

{% block title%}
    Key
{% endblock %}

{% block styles %}
    <link rel = "stylesheet" href = "{% static 'css/styles_key.css' %}">
{% endblock %}

{% block header %}Key{% endblock %}

{% block content %}

    <p id = "key_info">
        <p><b>* Tasks:</b> things you have to do</p>
        <p><b>- Notes:</b> things you don't want to forget</p>
        <p><b>O Events:</b> noteworthy moments in time</p>
        <br/>
        <p><b>* task incomplete</b></p>
        <p><b>X task complete</b></p>
    </p>

{% endblock %}