<!-- TODAY PAGE -->
<!-- Displays all the tasks, notes, events for the date today. -->

{% extends 'base.html' %}
{% load static %}

{% block title%}
    Today
{% endblock %}

{% block styles %}
    <link rel = "stylesheet" href = "{% static 'css/styles_today.css' %}">
{% endblock %}

{% block header %}Today{% endblock %}

{% block content %}
    <p id = "dates" class="sub_header">{{ date_today }}</p>
    <ul id = "events">
        <li><b>*</b> workout</li>
        <li><b>*</b> buy coffee and milk</li>
        <li><b>*</b> laundry</li>
        <li><b>O</b> 3, 2pm PAASCU meeting</li>
        <li><b>-</b> 30g of Coffee is too strong</li>
        <li><b>*</b> review ethics</li>
    </ul>
{% endblock %}