<!--Template for basic web page in Bullet Journal.-->

{% load static %}

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!--Add Roboto font from Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <!-- Add css style sheet found at clay_lab1/static/css/styles.css-->
        <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">

        <!-- Additional styles -->
        {% block styles %}{% endblock %}

    </head>

    <body>

        <ul class="menu">
            <li><a href = "/home/">Home</a></li>
            <li><a href = "/profile/">Profile</a></li>
            <li><a href = "/key/">Key</a></li>
            <li><a href = "/this_week/">This Week</a></li>
            <li><a href = "/today/">Today</a></li>
        </ul>

        <div id="contents">
            <p class = "page_header">{% block header %}{% endblock %}</p>
            {% block content %}{% endblock %}
        </div>

        <script>{% block scripts %}{% endblock %}</script>
        
    </body>
</html>