*{
    line-height : 1.5;
    font-family : 'Roboto', sans-serif;
}

#contents{
    float : left;
    width : 70vw;
    padding-top : 5vh;
    margin-left : 15vw;
    margin-right : 15vw;
}

.menu{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
}

.menu li{
    float: left;
}

.menu li a{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.page_header{
    font-weight:bold;
    font-size:x-large;
}

.large_header{
    font-weight:bold;
    text-align:center;
    font-size:xx-large;
}

.sub_header{
    font-size:large;
    font-weight:bold;
}