
#ask_name form{
    width : 30vw;
    margin : auto;
}

#ask_name form input{
    font-size : large;
    border-radius: 0.5vw;
    text-decoration: none;
}

#ask_name form input[type = "text"]{
    float:left;
    width : 70%;
    margin : auto;
    padding: 1vw 1vw;
    align-content : center;
}

#ask_name form input[type="submit"]{
    float:right;
    padding: 1vw 2vw;
    text-align: center;
}